form{
    margin: 25px;
    text-align: center;    
}
#pattern_name{
    width: 300px;
    margin: 10px;
}
#dropdown{
    width: 100px;
    margin: 10px;
}
#pattern_number{
    width: 400px;
    margin: 10px;
}
    
#pattern_brand{
    width: 300px;
    margin: 10px;
}
#pattern_sizes{
    width: 520px;
    margin: 10px;
}
#description{
    width: 400px;
    height: 100px;
}

#patterns_stock{
    float: left;
    position: relative;
    top: 50px;
    margin-left: 100px;
    width: 700px;
    height: 500px;
}
#patterns_wishlist{
    float: right;
    position: relative;
    top: 50px;
    margin-right: 100px;
    width: 700px;
    height: 500px;
}