/* Form */
.patternform{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;   
    font-size: 20px;    
    float: left;
    position: relative;
    left: 335px;
    top: 50px; 
    color: #1a3c34;   
}

.exampleFormControlInput1{    
    float: left;
    position: relative;
    left: 200px;
}
.exampleFormControlFile2{
    width: 525px;    
}
#pattern_name,
#pattern_sizes,
#pattern_picture,
#pattern_category{
    margin-top: 2px;  
    width: 525px;   
}

#pattern_number{
    margin-top: 2px;
    width: 525px; 
}
#pattern_brand{
    margin-top: 2px;
    width: 525px; 
}
.exampleFormControlTextarea1,
#picture_head{
    float: left;
    position: relative;
    left: 200px;
    width: 525px;
}
#exampleFormControlTextarea2{
    width: 525px;  
    height: 150px;
    margin-top: 2px
}
#picture{
    float: left;
    position: relative;
    left: 150px;    
}
#patternsubmit{
    position: relative;
    left: 210px;
    top: 15px;    
}
