nav{
    background-color: white;
    position: relative;
    top: 30px;
}

.navbar-nav{
    width: 100%;  
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;       
}

#navbarmenu{
    width: 100%;
    float: left;
    position: relative;
    left: 200px;
}

#titlenav{
    margin: 10px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    color: #1a3c34;  
    font-size: 40px;  
    
}

.nav-item{
    color: #007485;
    font-size: 25px;
}

#navbarDropdown{
    color: #1a3c34;  
}

#homenav{
    top: 8px;    
    font-size: 25px;
    color: #1a3c34;
}

#portfolionav{
    width: 275px;
    color: #007485;
}

#signoutnav{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;  
    background-color: #1a3c34;
    color: #007485;
}