/* Form */
form{
    float: right;
    position: relative;
    right: 175px;
    top: 25px;
    text-align: center;
}
label{
    margin: 10px;
}
#design_name{
    width: 200px;
    margin-top: 5px
}
#design_concept{
    width: 200px;
    margin-top: 5px
}

#exampleFormControlTextarea1{
    width: 400px;  
    height: 200px;
    margin-top: 5px
}
#dropdown{
    width: 275px;
    margin-top: 5px
}
#pattern_picture{
    width: 500px
}
