/* Form */
.fabricform{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;   
    font-size: 20px;    
    float: left;
    position: relative;
    left: 335px;
    top: 80px; 
    color: #1a3c34;   
}
label{
    margin: 10px;    
}
.exampleFormControlInput1{    
    float: left;
    position: relative;
    left: 200px;
}
.exampleFormControlFile2{
    width: 525px;    
}
#fabric_name{
    margin-top: 4px;  
    width: 525px;   
}
#fabric_type{
    margin-top: 4px;
    width: 525px; 
}
#fabric_yardage{
    margin-top: 4px;
    width: 525px; 
}
.exampleFormControlTextarea1,
#picture_head{
    float: left;
    position: relative;
    left: 200px;
    width: 525px;
}
#exampleFormControlTextarea2{
    width: 525px;  
    height: 200px;
    margin-top: 4px
}
#picture{
    float: left;
    position: relative;
    left: 150px;
    margin: 10px;
}
#fabricsubmit{
    position: relative;
    left: 200px;
    top: 20px;
    margin: 10px;
}