.jumbotron{
    position: relative;
    left: 650px;
    top: 20px;
    background-color: white;      
    width: 675px;
}
h1{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 50px;
    color: #1a3c34;
}