.homepage{
    height: 1000px;
    background-image: url("../../images/gothicframe.jpg");
    background-repeat: no-repeat;
    background-size: 50% 90%; 
    background-position: center 10px;
       
  }

.signinpage{
    text-align: center;
    margin: 25px;
    position: relative;
    top: 300px;
    
}

#fairysignin {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 35px;
    color: #1a3c34;
    
}

h4 {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 30px;
    color: #1a3c34;
    
}

#signinform,
#link {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    
}