/* .homepage{
    height: 1000px;
    background-image: url("../../images/gothicframe.jpg");
    background-repeat: no-repeat;
    background-size: 925px 925px; 
    background-position: 500px 0px;    
  }

#newfairy{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;   
    font-size: 35px;
    color: #1a3c34;   
    position: relative;
    left: 800px;
    top: 275px;
}

h4{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;   
    font-size: 30px;
    color: #1a3c34;   
    position: relative;
    left: 825px;
    top: 275px;
}

#signupform,
#link{
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    position: relative;
    left: 850px;
    top: 300px;
} */