/* Form */
form{
    float: right;
    position: relative;
    right: 100px;
    top: 50px;
}
label{
    margin: 10px;
}
#pattern_name{
    width: 425px;
    margin-top: 5px
}
#pattern_number{
    width: 425px;
    margin-top: 5px
}
#pattern_brand{
    width: 425px;
    margin-top: 5px
}
#exampleFormControlTextarea1{
    width: 525px;  
    height: 200px;
    margin-top: 5px
}
#dropdown{
    width: 275px;
    margin-top: 5px
}
#pattern_picture{
    width: 500px
}
