/* General CSS */
form{   
    text-align: center;
    margin: 25px;
    top: 95px;
    left: 1275px;
}
.center {
    margin: auto;
    width: 50%;    
    padding: 10px;
}
.right {
    position: absolute;
    right: 250px;
    width: 300px;    
    padding: 10px;
}

/* Form */
#pattern_name{
    width: 400px;
    margin-top: 0px
}
#pattern_number{
    width: 400px;
    margin-top: 0px
}
#pattern_brand{
    width: 400px;
    margin-top: 0px
}
#exampleFormControlTextarea1{
    width: 500px;  
    height: 200px;
    margin-top: 0px
}
#dropdown{
    width: 250px;
    margin-top: 0px
}
#pattern_picture{
    width: 500px
}
